/* ネストの使用 */
#main{
    width:  800px;
    height: 50px;
    h1{
        color:  #112233;
        background-color:   #445566;
    }
    p{
        color:  blue;
        background-color:   red;
    }
}

/*
 * プロパティのネスト
 * ミックスイン
 */
// The Mixin Directive
@mixin maintext{
    font:{
        family: Arial;
        size:   20px;
        weight: bold;
    }
    color:  #ff0000;
}

.mainmix{
    @include maintext;
    background-color:   #fff;
}

.secondmix{
    @include maintext;
    background-color:   grey;
}

/* 変数の使用 */
$width: 500px;
$color: #aa443f;
.maincontainer{
    width:  $width;
    color:  $color;
}

/* 加減乗除 */
.coloradd{
    color:  #000011 + #555;
}

/* 引数の使用 */
@mixin border-radius( $radius){
    -webkit-border-radius:  $radius;
    -moz-border-radius:     $radius;
    -ms-border-radius:      $radius;
    -o-border-radius:       $radius;
}
.box { @include border-radius( 10px);}

/* 条件分岐 */
$name:  hocchan;
p{
    @if $name == hocchan{
        color:  blue;
    }
    @else if $name == asano{
        color:  green;
    }
    @else if $name == kanchi{
        color:  red;
    }
    @else if $name == king{
        color:  purple;
    }
    @else if $name == madoka{
        color:  yellow;
    }
}

/* 繰り返しfor */
@for $i from 1 through 5{
    .nav-#{$i} { width: 2em * $i; }
}

/* 繰り返しeach */
@each $str in hehochin, yukko, sumipe, natune{
    .#{$str}-name{
        background-image:   url( '/image/#{$str}.png');
    }
}

/* 繰り返しeach */
$i: 1;
@while $i < 5{
    .item-#{$i}{ width: 2em * $i }
    $i: $i + 1;
}
